/* MyComponent.css */

.borderMain {
    border-color: rgb(218, 218, 218);
    position: absolute;
    left: 350px;
    width: 800px;
}

.borderRight {
    border-color: rgb(218, 218, 218);
    position: absolute;
    left: 1150px;
    width: 350px;
}
