.hot {
    font-size: 10px;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 94, 94);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin-right: 5px;
}

.title {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.box-card {
    width: 275px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}