<div class="account-container">
    <el-form ref="accountForm" :model="accountForm" :rules="accountRules" class="account-form" auto-complete="on" label-position="left">

      <div class="title-container">
        <h3 class="title">Create your account</h3>
      </div>

      <el-form-item prop="username">
        <el-input v-model="accountForm.username"
                  placeholder="User Name"
                  name="username"
                  type="text"
                  auto-complete="on" />
      </el-form-item>

      <el-form-item prop="password">
        <el-input v-model="accountForm.password"
                  placeholder="Password"
                  name="password"
                  type="password"
                  auto-complete="on" />
      </el-form-item>

      <el-form-item prop="age">
        <el-input v-model="accountForm.age"
                  placeholder="Age"
                  name="age"
                  type="number"
                  auto-complete="on" />
      </el-form-item>

      <el-form-item prop="dob">
        <el-input v-model="accountForm.dob"
                  placeholder="Date of birth DD/MM/YY"
                  name="dob"
                  type="text"
                  auto-complete="on" />
      </el-form-item>

      <el-form-item prop="yearOfStudy">
        <el-input v-model="accountForm.yearOfStudy"
                  placeholder="Year of study"
                  name="yearOfStudy"
                  type="text"
                  auto-complete="on" />
      </el-form-item>

      <el-form-item prop="programme">
        <el-input v-model="accountForm.programme"
                  placeholder="Programme"
                  name="programme"
                  type="text"
                  auto-complete="on" />
      </el-form-item>

      <el-form-item prop="aboutMe">
        <el-input v-model="accountForm.aboutMe"
                  placeholder="About me"
                  name="aboutMe"
                  type="text"
                  auto-complete="on" />
      </el-form-item>

      <el-button type="primary" style="width:100%;" @click="handleContinue">Continue</el-button>
    </el-form>
  </div>