.course-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; /* 灰色背景 */
    background-image: url('https://www.timeshighereducation.com/sites/default/files/institution/header_image/the_profile_cover_image_-_main_building4_4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    min-height: 100vh;
    width: 100%;
  }

  .title-container {
    margin-bottom: 20px;
  }

  .title {
    text-align: center;
    color: #333; /* 标题颜色 */
  }

  .subtitle {
    text-align: center;
    color: #666; /* 副标题颜色 */
    margin-bottom: 30px;
  }

  .course-selection-form {
    width: 700px; /* 表单宽度 */
    max-width: 100%;
    padding: 30px;
    background-color: #fff; /* 白色背景 */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  }

  .el-form-item {
    margin-bottom: 20px;
  }

  .el-button {
    width: 100%;
    background-color: #007bff; /* 默认的蓝色按钮背景 */
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

    .el-button:hover {
      background-color: #0056b3; /* 鼠标悬停时的按钮背景颜色 */
    }

    .el-button:disabled {
      background-color: #9ecbff; /* 按钮禁用时的背景颜色 */
      color: #fff;
      cursor: not-allowed;
    }

  .el-checkbox-group {
    width: 100%;
    border: none;
  }

  .el-checkbox {
    margin-right: 10px; /* 复选框间距 */
  }

  .el-checkbox__label {
    color: #333; /* 复选框标签颜色 */
  }