<div class="course-selection-container">
    <el-form ref="courseSelectionForm" :model="courseSelectionForm" class="course-selection-form" label-position="top">

      <div class="title-container">
        <h3 class="title">Select Your Courses</h3>
        <p class="subtitle">Pick tags that you want to see in your home page</p>
      </div>

      <el-form-item class="course-item">
        <el-checkbox-group v-model="courseSelectionForm.selectedCourses">
          <el-checkbox label="Programming" name="courseProgramming">Programming</el-checkbox>
          <el-checkbox label="Internet Technology" name="courseInternetTechnology">Internet Technology</el-checkbox>
          <el-checkbox label="Advanced Programming" name="courseAdvancedProgramming">Advanced Programming</el-checkbox>
          <el-checkbox label="Information Visualisation" name="courseInformationVisualisation">Information Visualisation</el-checkbox>
          <el-checkbox label="Database Theory And Analytics" name="courseDatabaseTheoryAndAnalytics">Database Theory And Analytics</el-checkbox>
          <el-checkbox label="Forensics" name="courseForensics">Forensics</el-checkbox>
          <el-checkbox label="Enterprise Cyber Security" name="courseEnterpriseCyberSecurity">Enterprise Cyber Security</el-checkbox>
          <el-checkbox label="IT+ Team Project" name="courseITPlusTeamProject">IT+ Team Project</el-checkbox>
          <el-checkbox label="Software Engineering" name="courseSoftwareEngineering">Software Engineering</el-checkbox>
          <el-checkbox label="System And Networks" name="courseSystemAndNetworks">System And Networks</el-checkbox>
          <el-checkbox label="Human Computer Interaction Design And Evaluation" name="courseHCI">Human Computer Interaction Design And Evaluation</el-checkbox>
          <el-checkbox label="Cryptography And Secure Development" name="courseCryptographyAndSecureDevelopment">Cryptography And Secure Development</el-checkbox>
          <el-checkbox label="Cybersecurity Fundamentals for Msc" name="courseCybersecurityFundamentalsForMsc">Cybersecurity Fundamentals for Msc</el-checkbox>
        </el-checkbox-group>
      </el-form-item>

      <el-button type="primary" :disabled="courseSelectionForm.selectedCourses.length === 0" @click="handleContinue">Select at least 1 to continue</el-button>
    </el-form>
  </div>