<div style="height: 20px;"></div>
<!-- 文章流 -->
<HomeAbove />
<div style="height: 15px;"></div>

<CButtonGroup role="group" aria-label="Basic example" class="custom-button-group">
  <CButton class="custom-button" variant="outline-secondary">My Posts</CButton>
  <!-- <CButton class="custom-button" variant="outline-secondary">Recommend</CButton>
  <CButton class="custom-button" variant="outline-secondary">Your attention</CButton> -->
</CButtonGroup>

<div style="height: 20px;"></div>
<!-- 文章流 -->
<InfiniteArticle />
<div style="height: 15px;"></div>