.app-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .post-container {
    width: 95%; /* Adjust based on your preference */
    height:500px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
  }

  .el-form-item {
    margin-bottom: 30px;
  }

  .el-input {
    width: 100%;
  }