<div class="body" v-for="article in articleList" :key="article.poster">
    <img :src="article.imgSrc" style="height: 50px; border-radius: 50%; margin-right: 15px;"/>
    <div class="row">
      <div style="width: 100%;">
      </div>
    </div>
    <div style="height: 10px;"></div>
    <div class="box-card">
      <div class="row">
        <div style="flex: 1;">
          <div class="title">Name {{ article.username }}</div>
          <div class="title">Birth day {{ article.dbo }}</div>
          <div class="title">Study of Year {{ article.studyOfYear }}</div>
          <div style="margin-top: 10px;" class="text">{{ article.aboutMe }}</div>
          <div style="height: 15px;"></div>
        </div>
        <div style="flex: 0 0 7rem; display: flex; flex-direction: column; align-items: flex-end;">
          <el-button type="danger" @click="handleImageClick(article)">Delete</el-button>
          <div>
            <img :src="article.coverImg" style="height: 120px; border-radius: 10px; margin-top: 10px;" />
          </div>
        </div>
      </div>
    </div>
  </div>