<div class="body" v-for="article in articleList" :key="article.poster" @click="jumpDetailsPage(article.poster)">
    <div class="row">
      <div style="width: 100%;">
        {{ article.poster }}
        <span>{{ article.publish_date }}</span>
        <span style="margin-right: 10px;"> classification </span>
        <el-tag class="tag">{{ article.classification }}</el-tag>
      </div>
    </div>
    <div style="height: 10px;"></div>
              <!-- <img src="@/assets/icons/dianzan.png" alt="Your Icon" class="scaled-icon">  -->
    <div class="box-card">
      <div class="row">
        <div style="flex: 1;">
          <div class="title">{{ article.title }}</div>
          <div style="margin-top: 10px;" class="text">{{ article.content }}</div>
          <div style="height: 15px;"></div>

          <div class="icon-container">
            <div class="icon-wrapper">
              <img src="@/assets/icons/dianzan.png" alt="Your Icon" class="scaled-icon">
              <div class="icon">{{ article.likes }}</div>
            </div>
            <div class="icon-wrapper">
              <img src="@/assets/icons/yanjing.png" alt="Your Icon" class="scaled-icon">
              <div class="icon">{{ article.views_count }}</div>
            </div>
            <div class="icon-wrapper">
              <img src="@/assets/icons/pinglun.png" alt="Your Icon" class="scaled-icon">
              <div class="icon">30</div>
            </div>
          </div>
        </div>



        <div style="flex: 0 0 8rem;">
          <div>
            <img :src="article.coverImg" style="height: 120px; border-radius: 7px;" />
          </div>
        </div>
      </div>
    </div>
  </div>