<div class="box-card">
    <div class="body" v-for="user in userList" :key="user.username" @click="jumpDetailsPage(user.username)">
    
         <div class="row">
           <div style="width: 100%;">
            <img :src="user.imgSrc" style="height: 100px; border-radius: 50%; margin-right: 15px;" />
             {{ user.username }}
             <!-- <span-button type="primary" @click="handleButtonClick(user.user_id)">Edit my detail</span-button> -->
           </div>
         </div>
         <div style="height: 10px;"></div>
                  <!-- <img src="@/assets/icons/dianzan.png" alt="Your Icon" class="scaled-icon">  -->
    
           <div class="row">
             <div style="flex: 1;">
               <div class="title">ID: {{ user.user_id }}</div>
               <div style="margin-top: 10px;" class="text">Programme: {{ user.programme }}</div>
               <div style="margin-top: 10px;" class="text">Age: {{ user.age }}</div>
               <div style="margin-top: 10px;" class="text">Year of study: {{ user.yearOfStudy }}</div>
               <div style="margin-top: 10px;" class="text">About me: {{ user.aboutMe }}</div>
               <div style="height: 15px;"></div>
             </div>
           </div>
         </div>
      </div>