<CSidebar class="custom-background" colorScheme="light" position="fixed">
    <div class="sidebar-header">UofG Tree Hole</div>
    <router-link to="/dashboard" class="router-link">Home</router-link>
    <router-link to="/account" class="router-link">My Account</router-link>
    <router-link to="/follow" class="router-link">Follow</router-link>
    <router-link to="/post" class="router-link">Post</router-link>
    <router-link to="/contact" class="router-link">Contact us</router-link>
    <router-link to="/Login" class="router-link logout">Log out</router-link>
  </CSidebar>